app-create-folder {
	font-size: 40px;
	margin-left: 5px;
	margin-right: 5px;
	cursor: pointer;
}

/* button>i {
	font-size: 15px;
} */

header {
	position: relative;
	background-color: #f4f6f7;
	height: 45px;
	padding: 0 10px;
	line-height: 40px;
	color: #00264c;
	z-index: 10;
}