<div class="container-fluid">
  <!-- Header -->
  <app-menu-header></app-menu-header>

  <!-- Main content -->
  <div class="row mHeight">

    <app-menu class="col-auto left-menu p-0">
    </app-menu>
    
    <!-- Content -->
    <div class="col my-scroll">
      
      <div class="mt-3">
        <h3>There's nothing here...</h3>

        <p class="mt-3">This route is invalid, or the functionality being accessed has not been developed yet.</p>
      </div>

    </div>
  </div>

  <!-- Footer menu -->
  <div class="row bottom-menu">
    <app-menu-footer></app-menu-footer>
  </div>
</div>
