<div class="container-fluid shadow1 item">

  <div class="row">

    <!-- File icon -->
    <div class="col-auto img-wrapper">
      <fa-icon [icon]="getFileIconClass()"></fa-icon>
      <app-sync-status-icon *ngIf="!editable" style="    position: absolute;
                left: 11px;
                bottom: 10px;
                background-color: rgba(255, 255, 255, 1);"
        [syncStatus]="$any(file)?.status?.currently ?? 'NeedsToBeUploaded'">
      </app-sync-status-icon>
    </div>

    <!-- File info -->
    <div class="col">

      <!-- File name -->
      <div class="row align-items-center">
        <p class="col-auto" style="font-weight: 600; padding: 0 5px; width: 100%;">
          <a [href]="getLink()" (click)="openLocalFile($event)" target="_blank" [title]="getFileName()">
            <div style="
              word-break: break-all;
              line-height: 1.5em;
              height: 3em;
              overflow: hidden;
              text-align: center;
            ">
              {{getFileName()}}
            </div>

          </a>
        </p>
      </div>

      <!-- File size -->
      <div class="row align-items-end justify-content-center">
        <div class="col-auto">
          <p>({{getFileSize()}})</p>
        </div>
      </div>
    </div>
  </div>

  <!--Button to remove the file-->
  <div *ngIf="editable" style="position: absolute;bottom: -5px;right: 0;" (click)="updateRemovalStatus()">
    <!--'Remove' icon-->
    <button class="button-as-image">
      <fa-icon icon="window-close" [styles]="{'stroke': 'red', 'color': 'red'}"></fa-icon>
    </button>
  </div>
</div>
