* {
  margin: 0;
  padding: 0;

  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.09em;
}

body {
  background: #c3c3c3;
}

p {
  margin: 0;
}

h1.title {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  padding-bottom: 20px;
}

h2 {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  padding-bottom: 20px;
  padding-top: 10px;
}

div.responseArea {
  padding: 20px;
  box-shadow: 0px 0px 5px rgb(0 0 0 / 25%);
  background: #fff;
  margin-top: -10px;
  margin-bottom: 15px;
}

div.infoArea {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 5px;
}

/*  */
div.infoArea p {
  font-weight: 600;
}

.textInfo {
  text-align: justify;
}

hr {
  margin: auto;
  margin-bottom: 10px;
  border: solid 1px #000;
  width: 100%;
}

button {
  padding: 7px;
}