.well {
    margin-top: 1em;
    display: inline-block;
    padding: 0.5em 1em;
    border-radius: 1em;
    width: 100%;
}

img {
    border-radius: 5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#title {
    margin-left: 1em;
    font-weight: bold;
    font-size: 2em;
}

hr {
    width: 90%;
    margin: auto;
}