<div class="well">
    <div class="row">
        <div class="col-12">
            <span id="title">Grupo 1</span>
            <fa-icon icon="plus-circle"></fa-icon>
            <fa-icon icon="unlock-alt"></fa-icon>
            <hr>
        </div>
    </div>
    <!--<div class="col-6 col-sm-4 col-md-3 col-lg-2" id="person">
        <div>
           <button class="btn btn-link" id="del">
                <i id="del-icon" class="material-icons">close</i>
            </button>
        </div>
        <a href="#">
            <div class="ball"></div>
        </a>
    </div>-->
    <div class="row">
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <div>
                <!--Botão para remover o usuario-->
                <!-- <button class="btn btn-link" (click)="delUser(person.id)" id="del">-->
               <button class="btn btn-link" id="del">

                    <fa-icon icon="times"></fa-icon>
                </button>
            </div>
            <!--Imagem do usuario-->
            <a href="#">
                <div class="ball"></div>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <div>
                <!--Botão para remover o usuario-->
               <button class="btn btn-link" id="del">

                    <fa-icon icon="times"></fa-icon>
                </button>
            </div>
            <!--Imagem do usuario-->
            <a href="#">
                <div class="ball"></div>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <div>
                <!--Botão para remover o usuario-->
               <button class="btn btn-link" id="del">

                    <fa-icon icon="times"></fa-icon>
                </button>
            </div>
            <!--Imagem do usuario-->
            <a href="#">
                <div class="ball"></div>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <div>
                <!--Botão para remover o usuario-->
               <button class="btn btn-link" id="del">

                    <fa-icon icon="times"></fa-icon>
                </button>
            </div>
            <!--Imagem do usuario-->
            <a href="#">
                <div class="ball"></div>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <div>
                <!--Botão para remover o usuario-->
               <button class="btn btn-link" id="del">

                    <fa-icon icon="times"></fa-icon>
                </button>
            </div>
            <!--Imagem do usuario-->
            <a href="#">
                <div class="ball"></div>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <div>
                <!--Botão para remover o usuario-->
               <button class="btn btn-link" id="del">

                    <fa-icon icon="times"></fa-icon>
                </button>
            </div>
            <!--Imagem do usuario-->
            <a href="#">
                <div class="ball"></div>
            </a>
        </div>
    </div>
</div>

<div class="well">
    <div class="row">
        <div class="col-12">
            <span id="title">Grupo 2</span>
            <fa-icon icon="plus-circle"></fa-icon>
            <fa-icon icon="lock"></fa-icon>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <div>
                <!--Botão para remover o usuario-->
               <button class="btn btn-link" id="del">

                    <fa-icon icon="times"></fa-icon>
                </button>
            </div>
            <!--Imagem do usuario-->
            <a href="#">
                <div class="ball"></div>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <div>
                <!--Botão para remover o usuario-->
               <button class="btn btn-link" id="del">
                                          <fa-icon icon="times"></fa-icon>
                </button>
            </div>
            <!--Imagem do usuario-->
            <a href="#">
                <div class="ball"></div>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <div>
                <!--Botão para remover o usuario-->
               <button class="btn btn-link" id="del">

                    <fa-icon icon="times"></fa-icon>
                </button>
            </div>
            <!--Imagem do usuario-->
            <a href="#">
                <div class="ball"></div>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <div>
                <!--Botão para remover o usuario-->
               <button class="btn btn-link" id="del">

                    <fa-icon icon="times"></fa-icon>
                </button>
            </div>
            <!--Imagem do usuario-->
            <a href="#">
                <div class="ball"></div>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <div>
                <!--Botão para remover o usuario-->
               <button class="btn btn-link" id="del">

                    <fa-icon icon="times"></fa-icon>
                </button>
            </div>
            <!--Imagem do usuario-->
            <a href="#">
                <div class="ball"></div>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <div>
                <!--Botão para remover o usuario-->
               <button class="btn btn-link" id="del">

                    <fa-icon icon="times"></fa-icon>
                </button>
            </div>
            <!--Imagem do usuario-->
            <a href="#">
                <div class="ball"></div>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <div>
                <!--Botão para remover o usuario-->
               <button class="btn btn-link" id="del">

                    <fa-icon icon="times"></fa-icon>
                </button>
            </div>
            <!--Imagem do usuario-->
            <a href="#">
                <div class="ball"></div>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <div>
                <!--Botão para remover o usuario-->
               <button class="btn btn-link" id="del">

                    <fa-icon icon="times"></fa-icon>
                </button>
            </div>
            <!--Imagem do usuario-->
            <a href="#">
                <div class="ball"></div>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <div>
                <!--Botão para remover o usuario-->
               <button class="btn btn-link" id="del">

                    <fa-icon icon="times"></fa-icon>
                </button>
            </div>
            <!--Imagem do usuario-->
            <a href="#">
                <div class="ball"></div>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <div>
                <!--Botão para remover o usuario-->
               <button class="btn btn-link" id="del">

                    <fa-icon icon="times"></fa-icon>
                </button>
            </div>
            <!--Imagem do usuario-->
            <a href="#">
                <div class="ball"></div>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <div>
                <!--Botão para remover o usuario-->
               <button class="btn btn-link" id="del">

                    <fa-icon icon="times"></fa-icon>
                </button>
            </div>
            <!--Imagem do usuario-->
            <a href="#">
                <div class="ball"></div>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <div>
                <!--Botão para remover o usuario-->
               <button class="btn btn-link" id="del">

                    <fa-icon icon="times"></fa-icon>
                </button>
            </div>
            <!--Imagem do usuario-->
            <a href="#">
                <div class="ball"></div>
            </a>
        </div>
    </div>
</div>

<div class="well">
    <div class="row">
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <div>
                <!--Botão para remover o usuario-->
               <button class="btn btn-link" id="del">

                    <fa-icon icon="times"></fa-icon>
                </button>
            </div>
            <!--Imagem do usuario-->
            <a href="#">
                <div class="ball"></div>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <div>
                <!--Botão para remover o usuario-->
               <button class="btn btn-link" id="del">

                    <fa-icon icon="times"></fa-icon>
                </button>
            </div>
            <!--Imagem do usuario-->
            <a href="#">
                <div class="ball"></div>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <div>
                <!--Botão para remover o usuario-->
               <button class="btn btn-link" id="del">

                    <fa-icon icon="times"></fa-icon>
                </button>
            </div>
            <!--Imagem do usuario-->
            <a href="#">
                <div class="ball"></div>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <div>
                <!--Botão para remover o usuario-->
               <button class="btn btn-link" id="del">

                    <fa-icon icon="times"></fa-icon>
                </button>
            </div>
            <!--Imagem do usuario-->
            <a href="#">
                <div class="ball"></div>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <div>
                <!--Botão para remover o usuario-->
               <button class="btn btn-link" id="del">

                    <fa-icon icon="times"></fa-icon>
                </button>
            </div>
            <!--Imagem do usuario-->
            <a href="#">
                <div class="ball"></div>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <div>
                <!--Botão para remover o usuario-->
               <button class="btn btn-link" id="del">

                    <fa-icon icon="times"></fa-icon>
                </button>
            </div>
            <!--Imagem do usuario-->
            <a href="#">
                <div class="ball"></div>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <div>
                <!--Botão para remover o usuario-->
               <button class="btn btn-link" id="del">

                    <fa-icon icon="times"></fa-icon>
                </button>
            </div>
            <!--Imagem do usuario-->
            <a href="#">
                <div class="ball"></div>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <div>
                <!--Botão para remover o usuario-->
               <button class="btn btn-link" id="del">

                    <fa-icon icon="times"></fa-icon>
                </button>
            </div>
            <!--Imagem do usuario-->
            <a href="#">
                <div class="ball"></div>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <div>
                <!--Botão para remover o usuario-->
               <button class="btn btn-link" id="del">

                    <fa-icon icon="times"></fa-icon>
                </button>
            </div>
            <!--Imagem do usuario-->
            <a href="#">
                <div class="ball"></div>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <div>
                <!--Botão para remover o usuario-->
               <button class="btn btn-link" id="del">

                    <fa-icon icon="times"></fa-icon>
                </button>
            </div>
            <!--Imagem do usuario-->
            <a href="#">
                <div class="ball"></div>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <div>
                <!--Botão para remover o usuario-->
               <button class="btn btn-link" id="del">

                    <fa-icon icon="times"></fa-icon>
                </button>
            </div>
            <!--Imagem do usuario-->
            <a href="#">
                <div class="ball"></div>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <div>
                <!--Botão para remover o usuario-->
               <button class="btn btn-link" id="del">

                    <fa-icon icon="times"></fa-icon>
                </button>
            </div>
            <!--Imagem do usuario-->
            <a href="#">
                <div class="ball"></div>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <div>
                <!--Botão para remover o usuario-->
               <button class="btn btn-link" id="del">

                    <fa-icon icon="times"></fa-icon>
                </button>
            </div>
            <!--Imagem do usuario-->
            <a href="#">
                <div class="ball"></div>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <div>
                <!--Botão para remover o usuario-->
               <button class="btn btn-link" id="del">

                    <fa-icon icon="times"></fa-icon>
                </button>
            </div>
            <!--Imagem do usuario-->
            <a href="#">
                <div class="ball"></div>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <div>
                <!--Botão para remover o usuario-->
               <button class="btn btn-link" id="del">

                    <fa-icon icon="times"></fa-icon>
                </button>
            </div>
            <!--Imagem do usuario-->
            <a href="#">
                <div class="ball"></div>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <div>
                <!--Botão para remover o usuario-->
               <button class="btn btn-link" id="del">

                    <fa-icon icon="times"></fa-icon>
                </button>
            </div>
            <!--Imagem do usuario-->
            <a href="#">
                <div class="ball"></div>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <div>
                <!--Botão para remover o usuario-->
               <button class="btn btn-link" id="del">

                    <fa-icon icon="times"></fa-icon>
                </button>
            </div>
            <!--Imagem do usuario-->
            <a href="#">
                <div class="ball"></div>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <div>
                <!--Botão para remover o usuario-->
               <button class="btn btn-link" id="del">

                    <fa-icon icon="times"></fa-icon>
                </button>
            </div>
            <!--Imagem do usuario-->
            <a href="#">
                <div class="ball"></div>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <div>
                <!--Botão para remover o usuario-->
               <button class="btn btn-link" id="del">

                    <fa-icon icon="times"></fa-icon>
                </button>
            </div>
            <!--Imagem do usuario-->
            <a href="#">
                <div class="ball"></div>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <div>
                <!--Botão para remover o usuario-->
               <button class="btn btn-link" id="del">

                    <fa-icon icon="times"></fa-icon>
                </button>
            </div>
            <!--Imagem do usuario-->
            <a href="#">
                <div class="ball"></div>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <div>
                <!--Botão para remover o usuario-->
               <button class="btn btn-link" id="del">

                    <fa-icon icon="times"></fa-icon>
                </button>
            </div>
            <!--Imagem do usuario-->
            <a href="#">
                <div class="ball"></div>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <div>
                <!--Botão para remover o usuario-->
               <button class="btn btn-link" id="del">

                    <fa-icon icon="times"></fa-icon>
                </button>
            </div>
            <!--Imagem do usuario-->
            <a href="#">
                <div class="ball"></div>
            </a>
        </div>
   </div>
</div>