<div class="container-fluid shadow1 item" [class.disabled]="wasDeleted$ | async">
  <div class="row">
    <div class="col">
      <a [href]="url" (click)="openLocalFile($event)" target="_blank" class="row" [class.disabled-link]="wasDeleted$ | async">

        <!-- File icon -->
        <div class="col-auto img-wrapper" [title]="iconTitle">
          <fa-icon [icon]="fileClass"></fa-icon>
        </div>
        
        <!-- File info -->
        <div class="col">
        
          <!-- File name -->
          <div class="row align-items-center" [title]="material.files[0]?.fileName" style="height: 50px;">
            <p class="col-auto file-title">
              {{ filename }}
            </p>
          </div>
        
          <!-- File size -->
          <div class="row align-items-end justify-content-center" title="{{dateFull}}">
            <div class="col-auto align-self-end" style="padding: 0;">
              <p>{{ getDateAndSize() }}</p>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="col-auto status-dropdown-container">
      <ng-container *ngIf="canDelete">
        <app-material-edit-dropdown #dropdown (openEvent)="materialMove.setFolder();" (deleteEmitter)="delete()"
          [id]="material.id" type="file" hasMove="true" hasDelete="true" [disabled]="wasDeleted$ | async" [customOptions]="downloadOptions">

          <app-material-move #materialMove class="move" [material]="material" [folders]="folders"
            (sent)="dropdown.closeMoveModal(true)" (closeForm)="dropdown.closeMoveModal(false)">
          </app-material-move>

        </app-material-edit-dropdown>
      </ng-container>

      <app-sync-status-icon class="item-status-icon"
        [syncStatus]="(syncState$ | async) != null ? (syncState$ | async) : (material.files[0]?.status?.currently)">
      </app-sync-status-icon>
  </div>
</div>