<form id="ngForm" [formGroup]="form">
  <h5 class="text-center">{{ translationText?.infoAccount }}</h5>
  <label class="m-0"><strong>{{ translationText?.email }}</strong></label>
  <p>{{ profile?.email }}</p>

  <div class="modal-footer p-2"></div>
  <h5 class="text-center">{{ translationText?.editPassword }}</h5>

  <!-- Input for current password -->
  <label for="oldPassword"><strong>{{ translationText?.oldPassword }}</strong></label>
  <input type="password" class="form-control"
    [class.is-invalid]="(oldPasswordDoNotMatch || form.controls['oldPassword'].errors) && (form.controls['oldPassword'].touched || form.controls['oldPassword'].dirty)"
    formControlName="oldPassword" id="oldPassword" />

  <!-- Errors -->
  <small *ngIf="form.controls['oldPassword'].errors && !oldPasswordDoNotMatch" class="invalid-feedback">
    {{ translationText?.mustContain }} {{ passwdMinLength }} {{ translationText?.char }}
  </small>
  <small *ngIf="oldPasswordDoNotMatch" class="invalid-feedback">
    {{ translationText?.oldPasswordDoNotMatch }}
  </small>

  <!-- Input new password -->
  <label for="password"><strong>{{ translationText?.newPassword }}</strong></label>
  <input type="password" class="form-control"
    [class.is-invalid]="(form.controls['newPassword'].errors) && (form.controls['newPassword'].touched || form.controls['newPassword'].dirty)"
    formControlName="newPassword" id="newPassword">

  <!-- Errors -->
  <small
    *ngIf="(form.controls['newPassword'].errors) && (form.controls['newPassword'].touched || form.controls['newPassword'].dirty)"
    class="invalid-feedback">
    {{ translationText?.mustContain }} {{ passwdMinLength }} {{ translationText?.char }}
  </small>

  <label><strong>{{ translationText?.repeatPassword }}</strong></label>
  <input type="password" class="form-control"
    [class.is-valid]="form.value.repeatPassword.length!==0 && !form.errors?.passwordsDontMatch && (form.controls['repeatPassword'].touched || form.controls['repeatPassword'].dirty)"
    [class.is-invalid]="form.errors?.passwordsDontMatch && (form.controls['repeatPassword'].touched || form.controls['repeatPassword'].dirty)"
    formControlName="repeatPassword" id="repeatPassword">

  <small *ngIf="!form.errors?.passwordsDontMatch" class="valid-feedback">
    {{ translationText?.equalPasswd }}
  </small>
  <small
    *ngIf="form.errors?.passwordsDontMatch && (form.controls['repeatPassword'].touched || form.controls['repeatPassword'].dirty)"
    class="invalid-feedback">
    {{ translationText?.differentPasswd }}
  </small>

  <div class="modal-footer mt-3">
    <button class="btn btn-secondary" (click)="cancel()">
      {{ actions?.cancel }}
    </button>

    <button type="submit" class="btn btn-primary" [disabled]="form.invalid" (click)="onSubmit()">
      {{ actions?.confirm }}
    </button>
  </div>
</form>
