<div class="container-fluid">
  <div class="row">

    <!-- Each menu item -->
    <div *ngFor="let item of items | async" class="col menu-item p-0">
      <!-- Link -->
      <a routerLink="{{item.link}}" title="{{item.text}}" routerLinkActive="active">
        <div class="row no-gutters align-items-center justify-content-center">

          <!-- Image -->
          <div class="col-auto">
            <!-- General icon -->
            <div *ngIf="item.icon_type.toString() !== 'custom'">
              <fa-icon [icon]="[item.icon_type, item.icon]" [fixedWidth]="true">
              </fa-icon>
            </div>

            <!-- Custom icons -->
            <div *ngIf="item.icon_type.toString()  === 'custom'">

              <!-- Grades icon -->
              <div *ngIf="item.icon.toString()==='grades'">
                <fa-layers [fixedWidth]="true">
                  <fa-icon [icon]="['far', 'clipboard']"></fa-icon>
                  <fa-layers-text content="A" class="nota" transform="shrink-6"></fa-layers-text>
                </fa-layers>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
