

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

button {
  font-weight: bold;
}

.well {
  margin:10px 0px;
  background-color: #fff;
  border: none;
}

.col h3{
  margin: 0;
  float: left;
}

.header {
  margin: 10px;
  margin-left: 0px;
}

.line {
  border-bottom: 1px solid black;
  padding: 0 0 0 0;
}

hr {
  margin: auto;
  margin-bottom: 10px;
  border: solid 1px #000;
  width: 100%;
}

.custom-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

@media screen and (min-width: 1280px) {
  form {
    min-width: 800px;
  }
}

@media screen and (max-width: 1280px) and (min-width: 560px){
  form {
    min-width: 500px;
  }
}

@media screen and (max-width: 560px) and (min-width: 400px){
  form {
    min-width: 350px;
  }
}